<div id="wrapper">
    <div id="menu">
        <p class="welcome"><b>Welcome! I REMEMBER EVERYTHING.</b></p>
    </div>

    <div id="chatbox"></div>

    <form name="message" action="">
        <input name="usermsg" type="text" id="text" size="63" />
        <input name="submitmsg" type="submit"  id="Submit" value="Submit" />
    </form>
</div>